        <h1>KCS北九州情報専門学校</h1>
        <p><h2><div class="label label-default">登録情報</div></h2></p>
<ul>
  <%= form_tag({ controller: :student, action: :login_check},
  id: :register) do %>

  <li>学生番号　<%= text_field_tag :pass, '', size: 8 %></li><br>
  <li>クラス　　<%= text_field_tag :pass, '', size: 6 %></li><br>
  <li>番号　　　<%= text_field_tag :pass, '', size: 3 %></li><br>
  <li>名前　　　<%= text_field_tag :pass, '', size: 8 %></li><br>

  <div class="form-group row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-10 btn-group" data-toggle="buttons">
    <label class="btn btn-outline-secondary active" style="width:25%">
      <%= radio_button :sex, 0, {checked: true} %> 教師
    </label>
    <label class="btn btn-outline-secondary" style="width:25%">
      <%= radio_button :sex, 1, {} %> 生徒
    </label>
  </div>
</div>
</ul>
<p><input type="submit" value="登録"></p>
    </div>
</div>
</div>
<% end %>
